#root{
    width:100%;
}

.dashboard-page{
    width: auto;
    height:100%;
    background-color: rebeccapurple;
    display:flex;
    flex-direction: column;
    align-items: center;
} div{
    text-align: center;
}
.buttons{
    display:flex;

}.reptile-create{
    display:flex;
}.reptile-item{
    display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.button-container {
    flex-direction: row;
    display: flex;
    height: fit-content;
}