.shadowed {
	text-shadow: 1px 1px 2px black;
	color:whitesmoke;
}

.main_stuff-box {
	font-family: 'helvetica neue', helvetica, sans-serif;
	color: whitesmoke;
	letter-spacing: 1px;
	text-align: center;
	padding: 3px 10px;
	margin: 15px;
    margin-top: 50px;
	cursor: pointer;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
}

.stuff-box {
	font-family: 'helvetica neue', helvetica, sans-serif;
	color: whitesmoke;
	letter-spacing: 1px;
	text-align: center;
	margin: 10px;
	cursor: pointer;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
}

.feedings {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.child {
    flex: 0 0 40%;
    margin: 10px;
    background-color: blue;
    align-items: flex-start;
    justify-content: left;
  }

.husbandry-records {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sched_title {
    font-size:x-large;
    color: #D1F5BE;
}

.days {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    color: whitesmoke
}

.green {
	border-color: #9CDE9F;
	background:   #82735C;
	box-shadow: 1px 1px 2px black;
}

.black {
    border-color: #4B3B40;
    background:   #4B3B40;
}

.purple {
    border-color: #9CDE9F;
	background:   #82735C;
    margin-top: 2%;
}

.button {
  background-color: #9CDE9F;
  color: #82735C;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.button:hover {
    background-color: rgb(222, 55, 55);
}